.App
{
  background-color:  #D3D3D3;
   height: 500px;
}
img
{
 width:400px;
   height:200px;
align:center;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
